{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Home</title>
</head>
<body>
    <h1>Home page</h1>

    <!-- Profile section in the right upper corner -->
    {% if user.is_authenticated %}
    <a href="{%url 'profile'%}">
        <div class="profile-container">
            {% if pic %}
                <img src="{{ pic.url }}" alt="profile pic">
            {% endif %}
            <div class="user-info">
                <span class="username">@{{ username }}</span>
                <span class="fullname">{{ name }}</span>
            </div>
        </div>
    </a>
    <a href="{% url 'createPost' %}"><button class="btn">Make a Post</button></a>
    {% else %}
    <div class="card">
        <a class="card-link" href="{% url 'login' %}">Login</a>
        <a class="card-link" href="{% url 'signup' %}">Signup</a>
    </div>
    {% endif %}

    <!-- Space for user posts -->
    <div class="posts-container">
        {% for post in page_obj %}
            <div class="post-container">
                <a href="{%url 'profile'%}"><span>@{{ post.theUser }}</span></a>
                <h2>{{ post.title }}</h2>
                <p>{{ post.description }}</p>
            </div>
        {% endfor %}
    </div>   
    
    {% if messages %}
        <div class="messages">
            {% for m in messages %}
                <p>{{ m }}</p>
            {% endfor %}
        </div>
    {% endif %}


    <div class="paginator">
        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">Previous</a>
        {% endif %}
        <a href="">{{page_obj.number}}</a>
        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Next</a>
        {% endif %}
    </div>

</body>
</html>
