{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="{%static 'css/profile.css'%}">
</head>
<body>
    <div class="profile-container">
        {% if pic %}
            <img src="{{ pic.url }}" alt="Profile Picture" class="profile-pic">
        {% else %}
            <img src="{% static 'default_profile.jpg' %}" alt="Profile Picture" class="profile-pic">
        {% endif %}
        <div class="username">@{{ username }}</div>
        <div class="fullname">{{ name }}</div>
        <div class="fullname">{{ email }}</div>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn logout-btn">Logout</button>
        </form>
    </div>

    <div class="posts-container">
        {% for post in posts %}
            <div class="post-container">
                <span>@{{ post.theUser }}</span>
                <h2>{{ post.title }}</h2>
                <p>{{ post.description }}</p>
            </div>
        {% empty %}
            <p>No posts available.</p>
        {% endfor %}
    </div>
</body>
</html>
